<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_sales_order_address_update">
        <observer name="extra_shipping_cost" instance="Bluethinkinc\Order\Observer\SaveOrderObserver" />
    </event>
</config>